<!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#!/">Home</a></li>
                    <li class="active">Ajuda</li>
                </ul>
                <!-- END BREADCRUMB -->                                                
                                
                <!-- PAGE TITLE -->
                <div class="page-title">                    
                    <h2><span class="fa fa-columns"></span> Ajuda</h2>
                </div>
                <!-- END PAGE TITLE -->                   
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                    
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="panel panel-default">                                
                                <div class="panel-body">
                                  <!-- <h3>jQuery Tocify Plugin</h3>
                                    <p>A jQuery plugin that dynamically generates a table of contents. Tocify also optionally provides support for smooth scrolling, scroll highlighting, scroll page extending, and forward and back button support.</p>
                                -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="row">                        
                        <div class="col-md-9">
                            <div class="panel panel-default">
                                <div class="panel-body">                            
                                    <div class="tocify-content">
                                        
                                        <h2>O que é o Sistema de Extensão?</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a aliquam tellus, nec porttitor augue. Praesent semper placerat magna, non tincidunt lacus imperdiet egestas. Praesent iaculis quis quam eu tincidunt. Curabitur id enim faucibus tellus lacinia faucibus. Aliquam sem enim, tristique convallis ligula a, ultrices ornare est. Nam mi nisl, facilisis eu enim nec, mattis commodo justo. 
                                        In blandit turpis lectus, a condimentum ipsum rutrum vitae. Fusce non arcu id velit cursus commodo in eu justo</p>


                                        <h2>Por que criamos o modelo de portfólio? </h2>
                                      <p>A Coordenadoria de Extensão busca otimizar o processo de registro das atividades de extensão desenvolvidas em toda a Newton.
                                      Precisamos conhecer, valorizar e dar visibilidade a todas as ações que fazemos! Utilizamos esses registros para mensurar o impacto que nossos cursos e Centros de Extensão promovem na nossa comunidade acadêmica e na sociedade.    
                                      Compilamos tudo e colocamos na grande entrega da Coordenadoria de Extensão, o nosso Anuário, grande ferramenta durante períodos de avaliação e recredenciamento do MEC.</p>
  
                                        <h2>Com base em que ele foi criado?</h2>
                                        <p>O processo vigente até então não nos permitia uma visão do status da nossa extensão ao longo do ano.
                                        Assim, não conseguíamos auxiliar de forma mais ativa os nossos Centros nem conseguíamos avaliar se estávamos caminhando para o mesmo objetivo.  
                                        Por isso, criamos um novo processo mais fácil e mais rápido para esse registro. O modelo foi criado de forma a atender as demandas do MEC para esse tipo de registro.</p> 
                                            
                                      
                                       
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3" style="position: relative;">
                            <div id="tocify"></div>
                        </div>
                    </div>
                    
                    
                    
                </div>