<!DOCTYPE html>
<html lang="pt">

<head>
    <!-- META SECTION -->
    <title>SIEX NEWTON</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END PLUGINS -->
</head>

<body ng-app="myApp">
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar" ng-controller="UsuarioController">
            <!-- START X-NAVIGATION -->
            <menu-comum ng-if="user.idc_tipo_usuario=='undefined'"></menu-comum>
            <menu-prof class="x-navigation" ng-if="user.idc_tipo_usuario==1"> </menu-prof>
            <menu-coor class="x-navigation" ng-if="user.idc_tipo_usuario==2"> </menu-coor>
            <menu-adm class="x-navigation" ng-if="user.idc_tipo_usuario==3"> </menu-adm>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->

        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <menu-topo></menu-topo>
            <!-- END X-NAVIGATION VERTICAL -->

            <ng-view></ng-view>

        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->


    <!-- START SCRIPTS -->


    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>

    <script src="app/Services/UtilService.js"></script>
    <script src="app/Services/AcaoService.js"></script>
    <script src="app/Services/ConceitoExtensaoService.js"></script>
    <script src="app/Services/CursoService.js"></script>
    <script src="app/Services/SituacaoService.js"></script>
    <script src="app/Services/TipoAcaoService.js"></script>
    <script src="app/Services/UsuarioService.js"></script>

    <script src="app/controllers/AcaoController.js"></script>
    <script src="app/controllers/CadastroAcaoController.js"></script>
    <script src="app/controllers/IndexController.js"></script>
    <script src="app/controllers/PesquisarController.js"></script>
    <script src="app/controllers/UsuarioController.js"></script>

    <script src="app/routes.js"></script>
    <script src="app/config.js"></script>
    <script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>

    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-file-input.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-select.js"></script>
    <script type="text/javascript" src="js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <!-- SCRIPT DE TIMERINPUT -->
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap-timepicker.min.js"></script>
    <!-- SCRIPT DE MASCARA -->
    <script type="text/javascript" src="js/jquery.mask.js"></script>
    <!-- SCRIPTS DE VALIDAÇÃO DE FORM-->
    <script type='text/javascript' src='js/plugins/validationengine/languages/jquery.validationEngine-pt_BR.js'></script>
    <script type='text/javascript' src='js/plugins/validationengine/jquery.validationEngine.js'></script>
    <script type='text/javascript' src='js/plugins/jquery-validation/jquery.validate.js'></script>

    <!-- END THIS PAGE PLUGINS -->

    <!-- START TEMPLATE -->
    <script type="text/javascript" src="js/settings.js"></script>

    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/actions.js"></script>
    <script type="text/javascript" src="js/faq.js"></script>

    <!-- END TEMPLATE -->
    <!-- START MY SCRIPTS -->
    <script>
        // INCLUIR MASCARAS
        $(document).ready(function() {
            $("#data").mask("99/99/9999", {
                placeholder: "dd/mm/yyyy"
            });
            $("#phone").mask("(999) 999-9999");
            $("#tin").mask("99-9999999");
            $("#ssn").mask("999-99-9999");
            $("#hora").mask("99:99");

        });
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',
            startDate: '-3d'
        });
        // JQUERY VALIDAÇÃO DO FORMULARIO
        var jvalidate = $("#jvalidate").validate({
            ignore: [],
            rules: {
                titulo: {
                    required: true,
                    minlength: 2,
                    maxlength: 100
                },
                cursoResponsavel: {
                    required: true
                },
                coordenador: {
                    required: true
                },
                docente: {
                    required: true
                },
                descricao: {
                    required: true
                },
                objetivo: {
                    required: true
                },
                dataInicio: {
                    required: true
                },
                dataTermino: {
                    required: false
                },
                palavrasChave: {
                    required: true
                },
                atividades: {
                    required: true
                },
                local: {
                    required: false,
                    minlength: 2,
                    maxlength: 100
                },
                publicoAlvo: {
                    required: true
                }
            }
        });
    </script>






    <!-- END SCRIPTS -->
</body>

</html>
