<!DOCTYPE html>
<html lang="pt">

<head>
    <!-- META SECTION -->
    <title>SIEX NEWTON</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="css/theme-default.css" />
    <!-- EOF CSS INCLUDE -->

</head>

<body ng-app="myApp">
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <ul class="x-navigation"> 
                    <li class="xn-logo">
                        <a href="index.html">SIEX NEWTON</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <li class="xn-profile">
                        <a href="#" class="profile-mini">
                            <img src="assets/images/users/avatar.jpg" alt="$storage.user.nom"/>
                        </a>
                        <div class="profile">
                            <div class="profile-image">
                                <img src="assets/images/users/avatar.jpg" alt="$storage.user.nome"/>
                            </div>
                            <div class="profile-data">
                                <div class="profile-data-name">{{user.nome}}</div>
                                <div class="profile-data-title">Administrador</div>
                            </div>
                            <!--<div class="profile-controls">
                                <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                                <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                            </div>-->
                        </div>                                                                        
                    </li>
                    <li class="xn-title"><span class="fa fa-desktop"></span> SIEX NEWTON</li>                    
                    <li>
                        <a href="ajuda.html"><span class="fa fa-comment-o"></span><span class="xn-text">Ajuda</span></a>
                    </li>

                    <li class="xn-title"><span class="fa fa-cloud"></span> AÇÕES DE EXTENSÃO</li>                    
                    <li>
                        <a href="pesquisar.html"><span class="fa fa-search"></span> <span class="xn-text">Pesquisar</span></a>
                        
                        <li>
                        <a href="pesquisar.html"><span class="fa fa-search"></span> <span class="xn-text">Aguardando avaliação</span></a>
                    </li> 
                    </li> 
                    <li>
                        <a href="cadastro.html"><span class="fa fa-check-circle-o"></span> <span class="xn-text">Registrar ou Atualizar Ação</span></a>
                    </li>  
                    <li>
                        <a href="cadastro.html"><span class="fa fa-check-circle"></span> <span class="xn-text">Submissão - Programas ou Projetos</span></a>
                    </li>
                    
                    <li class="xn-title"><span class="fa fa-users"></span> CONTATO E SUPORTE</li>                    
                    <li>
                        <a href="contato.html"><span class="fa fa-comments"></span> <span class="xn-text">Fale Conosco</span></a>
                    </li>                    

</ul>         
        </div>
        <!-- END PAGE SIDEBAR -->

        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            
<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
    <!-- TOGGLE NAVIGATION -->
    <li class="xn-icon-button">
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
    </li>
    <!-- END TOGGLE NAVIGATION -->
    <!-- SEARCH -->
    <li class="xn-search">
        <form role="form">
            <input type="text" name="search" placeholder="Search..."/>
        </form>
    </li>   
    <!-- END SEARCH -->
    <!-- SIGN OUT -->
    <li class="xn-icon-button pull-right" ng-if="user.id!='undefined'">
        <a class="mb-control" ng-click="sair()" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>                        
    </li> 
    <li class="xn-icon-button pull-right" ng-if="user.id=='undefined'">
        <a href="login.html" ><span class="fa fa-sign-in"></span></a>                        
    </li>
    <!-- END SIGN OUT -->
    <!-- MESSAGES 
    <li class="xn-icon-button pull-right">
        <a href="#"><span class="fa fa-comments"></span></a>
        <div class="informer informer-danger">4</div>
        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>                                
                <div class="pull-right">
                    <span class="label label-danger">4 new</span>
                </div>
            </div>

            <a href="#" class="list-group-item">
                <div class="list-group-status status-online"></div>
                <img src="assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
                <span class="contacts-title">John Doe</span>
                <p>Praesent placerat tellus id augue condimentum</p>
            </a>


            <div class="panel-footer text-center">
                <a href="pages-messages.html">Show all messages</a>
            </div>                            
        </div>                        
    </li>
    <!-- END MESSAGES -->
    <!-- TASKS
    <li class="xn-icon-button pull-right">
        <a href="#"><span class="fa fa-tasks"></span></a>
        <div class="informer informer-warning">3</div>
        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>                                
                <div class="pull-right">
                    <span class="label label-warning">3 active</span>
                </div>
            </div>
            <div class="panel-body list-group scroll" style="height: 200px;">                                
                <a class="list-group-item" href="#">
                    <strong>Phasellus augue arcu, elementum</strong>
                    <div class="progress progress-small progress-striped active">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                    </div>
                    <small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>
                </a>

            </div>     
            <div class="panel-footer text-center">
                <a href="pages-tasks.html">Show all tasks</a>
            </div>                            
        </div>                        
    </li>
    <!-- END TASKS -->
</ul>
<div class="message-box animated fadeIn" id="mb-signout">
   <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> <strong>Sair</strong> ?</div>
            <div class="mb-content">
                <p>Você tem certeza?</p>                    
                <p>Clique em "Não" caso queira continuar com o seu usuario. Clique em "Sim" para sair de seu usuario.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a ng-click="sair()" class="btn btn-success btn-lg">Sim</a>
                    <button class="btn btn-default btn-lg mb-control-close">Nao</button>
                </div>
            </div>
        </div>
    </div>
</div>
            <!-- END X-NAVIGATION VERTICAL -->

            <p>BUDA</p>

        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END PLUGINS -->

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>

    
    


    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END PLUGINS -->

    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <!-- END THIS PAGE PLUGINS-->

    <!-- START TEMPLATE -->
    <script type="text/javascript" src="js/settings.js"></script>

    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/actions.js"></script>
    <!-- END TEMPLATE -->

    <script src="app/Services/AcaoService.js"></script>
    <script src="app/Services/ConceitoExtensaoService.js"></script>
    <script src="app/Services/CursoService.js"></script>
    <script src="app/Services/SituacaoService.js"></script>
    <script src="app/Services/TipoAcaoService.js"></script>
    <script src="app/Services/UsuarioService.js"></script>
    <script src="app/Services/UtilService.js"></script>
    
    <script src="app/controllers/AcaoController.js"></script>
    <script src="app/controllers/CadastroAcaoController.js"></script>
    <script src="app/controllers/IndexController.js"></script>
    <script src="app/controllers/PesquisarController.js"></script>
    <script src="app/controllers/UsuarioController.js"></script>
    
    <script src="app/routes.js"></script>
    <script src="app/config.js"></script>

    <script src="angular/Directives/menuComum.js"></script>
    <script src="angular/Directives/menuAdm.js"></script>
    <script src="angular/Directives/menuCoor.js"></script>
    <script src="angular/Directives/menuProf.js"></script>
    <script src="angular/Directives/menuTopo.js"></script>
    <!-- END SCRIPTS -->
</body>

</html>
